.order {
  color: inherit;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.table-list th,
.table-list td {
  text-align: center !important;
}
.modal-delete {
  display: flex;
  align-items: center;
}
.modal-delete__icon {
  margin-right: 10px;
}
.ant-space-item button {
  padding: 10px 20px;
  color: black;
  background-color: rgb(240, 143, 143);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
